<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{269,256}</string>
                <key>textureRect</key>
                <string>{{1590,397},{269,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,182}</string>
                <key>textureRect</key>
                <string>{{789,0},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,192}</string>
                <key>spriteSourceSize</key>
                <string>{210,192}</string>
                <key>textureRect</key>
                <string>{{0,191},{210,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,191}</string>
                <key>spriteSourceSize</key>
                <string>{210,191}</string>
                <key>textureRect</key>
                <string>{{1651,0},{210,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,248}</string>
                <key>spriteSourceSize</key>
                <string>{269,248}</string>
                <key>textureRect</key>
                <string>{{1321,397},{269,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,189}</string>
                <key>spriteSourceSize</key>
                <string>{208,189}</string>
                <key>textureRect</key>
                <string>{{1443,0},{208,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,188}</string>
                <key>spriteSourceSize</key>
                <string>{227,188}</string>
                <key>textureRect</key>
                <string>{{1216,0},{227,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,243}</string>
                <key>spriteSourceSize</key>
                <string>{227,243}</string>
                <key>textureRect</key>
                <string>{{1094,397},{227,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,184}</string>
                <key>spriteSourceSize</key>
                <string>{227,184}</string>
                <key>textureRect</key>
                <string>{{989,0},{227,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{227,397},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,194}</string>
                <key>spriteSourceSize</key>
                <string>{214,194}</string>
                <key>textureRect</key>
                <string>{{210,191},{214,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{1091,191},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{454,397},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{867,397},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,209}</string>
                <key>spriteSourceSize</key>
                <string>{186,209}</string>
                <key>textureRect</key>
                <string>{{681,397},{186,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,134}</string>
                <key>spriteSourceSize</key>
                <string>{125,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,168}</string>
                <key>spriteSourceSize</key>
                <string>{152,168}</string>
                <key>textureRect</key>
                <string>{{125,0},{152,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,181}</string>
                <key>spriteSourceSize</key>
                <string>{144,181}</string>
                <key>textureRect</key>
                <string>{{645,0},{144,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,170}</string>
                <key>spriteSourceSize</key>
                <string>{184,170}</string>
                <key>textureRect</key>
                <string>{{277,0},{184,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,170}</string>
                <key>spriteSourceSize</key>
                <string>{184,170}</string>
                <key>textureRect</key>
                <string>{{461,0},{184,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,201}</string>
                <key>spriteSourceSize</key>
                <string>{227,201}</string>
                <key>textureRect</key>
                <string>{{637,191},{227,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{1318,191},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,202}</string>
                <key>spriteSourceSize</key>
                <string>{227,202}</string>
                <key>textureRect</key>
                <string>{{864,191},{227,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{1545,191},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{1772,191},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,196}</string>
                <key>spriteSourceSize</key>
                <string>{213,196}</string>
                <key>textureRect</key>
                <string>{{424,191},{213,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,206}</string>
                <key>spriteSourceSize</key>
                <string>{227,206}</string>
                <key>textureRect</key>
                <string>{{0,397},{227,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sized.png</string>
            <key>size</key>
            <string>{1999,653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c58c9513c47e6afcf6beac6bce6cdf:ef5c21fdc56d7cb4a46201e6d0fb68ad:12fb19b0b711783af5328540c6457b89$</string>
            <key>textureFileName</key>
            <string>sized.png</string>
        </dict>
    </dict>
</plist>
